<tui-root>
  <div class="wrapper">
    <div class="row">
      <tui-tooltip
        [content]="content"
        [direction]="direction"
        appearance="appearance"
      ></tui-tooltip>
    </div>

    <div class="row">
      <app-sgm-tooltip
        [sgm-title]="content"
        [sgm-direction]="direction"
      ></app-sgm-tooltip>
    </div>

    <div class="row">
      <div class="icon"
           tuiHint
           [tuiHintDirection]="hintDirection"
      >
        <tui-hint
          *tuiHint
          class="hint"
        >You can expose the bubble component with
          <code>*tuiHint</code>
          directive to customize it</tui-hint>
      </div>
    </div>

    <!--  my custom host tooltip  -->
    <div class="row">
      <div
        [tuiHint]="customHostTooltip"
        [tuiHintDirection]="customHostDirection"
        tuiHintAppearance="appearance"
        class="custom-host"
      ></div>
      <ng-template #customHostTooltip>
        <div>my custom tooltip</div>
      </ng-template>
    </div>
    <!--  my custom host tooltip  -->

    <!--  my custom host tooltip  -->
    <app-custom-host-tooltip
      [host-title]="hostTitle"
      [host-direction]="hostDirection"
    ></app-custom-host-tooltip>
    <!--  my custom host tooltip  -->

    <tui-avatar
      size="l"
      tabindex="0"
      text="❤"
      tuiHintAppearance="onDark"
      tuiHintDirection="right"
      [autoColor]="true"
      [rounded]="true"
      [tuiHint]="tooltip"
    ></tui-avatar>
    <ng-template #tooltip>
      <div>
        What is
        <strong>love</strong>
        ?
      </div>
      <div>Baby don't hurt me</div>
      <div>Don't hurt me</div>
      <div>No more...</div>
    </ng-template>
  </div>
</tui-root>
