[data-appearance="appearance"] {
  background-color: transparent !important;
  color: black !important;
  border: 1px solid black !important;
}

[data-appearance="sgm-tooltip"] {
  background-color: lightblue;
  color: darkblue;
}
